<div class="row">
    <div class="col-lg-12 text-center">
        <h1>Javascript Advanced</h1>
        <ul class="list-unstyled">
            <li><a href="callApplyBind.html">Call, apply e bind</a></li>
            <li><a href="promises.html">Promises</a></li>
            <li><a href="methodChain.html">Method chain</a></li>
            <li><a href="iife.html">Immediately-Invoked Function Expression</a></li>
            <li><a href="prototype.html">Prototype</a></li>
            <li><a href="prototypeInheritance.html">Prototype Inheritance</a></li>
            <li><a href="currying.html">Currying</a></li>
            <li><a href="currying2.html">Currying2</a></li>
            <li><a href="worker.html">Web Worker</a></li>
        </ul>
    </div>
</div>
<!-- /.row -->